@model Garage.Models.Vehicle

<h1>Create Vehicle</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="UserId">User:</label>
        <select id="UserId" name="UserId" asp-for="UserId" asp-items="@ViewBag.UserIds" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="RegNumber">Registration Number:</label>
        <input type="text" id="RegNumber" name="RegNumber" value="@Model.RegNumber" class="form-control" />
        <span asp-validation-for="RegNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Brand">Brand:</label>
        <input type="text" id="Brand" name="Brand" value="@Model.Brand" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Model">Model:</label>
        <input type="text" id="Model" name="Model" value="@Model.Model" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Color">Color:</label>
        <input type="text" id="Color" name="Color" value="@Model.Color" class="form-control" />
    </div>
    <div class="form-group">
        <label for="NumberOfWheels">Number of Wheels:</label>
        <input type="number" id="NumberOfWheels" name="NumberOfWheels" value="@Model.NumberOfWheels" class="form-control" />
    </div>
    <div class="form-group">
        <label for="VehicleTypeId">Vehicle Type:</label>
        <select asp-for="VehicleTypeId" asp-items="ViewBag.VehicleTypeIds as SelectList" class="form-control"></select>
        <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>