@model IEnumerable<Garage.Models.User>
@{
    ViewData["Title"] = "Index";
}

<h1 class="heading">Users</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table border="1" cellspacing="0" cellpadding="5">
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th style="padding: 10px;">Personal Number</th>
            <th style="padding: 10px;">First Name</th>
            <th style="padding: 10px;">Last Name</th>
            <th style="padding: 10px;">Age</th>
            <th style="padding: 10px;">Vehicles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td style="padding: 10px;">@user.PersonalNumber</td>
                <td style="padding: 10px;">@user.FirstName</td>
                <td style="padding: 10px;">@user.LastName</td>
                <td style="padding: 10px;">@user.Age</td>
                <td style="padding: 10px;">@string.Join(", ", user.Vehicles.Select(v => v.RegNumber))</td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@user.UserId">Update</a> 
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@user.UserId">Details</a>
                    <a class="btn btn-outline-danger" asp-action="UnparkReceipt" asp-route-id="@user.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
